target/

# we're not doing anything serious here
Cargo.lock

# as requested by topaz
input.txt

# Mac OS
.DS_Store

# store your AOC session cookie here
# COOKIE="Cookie: session=some-cookie-here"
session.sh
